td {
    border: 2px solid #999;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

button {
    margin: 10px;
}

.endgame {
    display: none;
    width: 200px;
    height: 200px;
    top: 120px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    padding: 0 50px;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    text-align: center;
}
